*.pyc
*.test
*.ivg-embody-group
data
data_mini
data/*
data_mini/*
outputs
outputs/*
tensorboard_output/*
*.pth
*.rank*
*.log
Beyond_Self-Attention_External_Attention_Using_Two_Linear_Layers_for_Visual_Tasks.pdf
TSP3D.pdf
copilot-session-8d55f7d3-19a5-4bcb-ac20-3b957cfdb52e.md
WildRefer.pdf
